body {
    margin: 0;
}
/*Sidebar*/
nav {
    width: 100%;
}
nav > ul {
    margin: 0;
    list-style-type: none;
    padding: 0;
}
nav > ul > li {
    width: 50%;
    display: inline-block;
}
nav > ul > li > a {
    text-align: center;
    display: block;
    padding: 1em 1em;

    background-color: antiquewhite;
}
nav > ul > li > a:hover {
    background-color: lavender;
}
/*Content*/
main {
    margin: 1em;
}