a {
    color: red;
    border: 1px solid red;
    padding: 1em;
    text-decoration: none;
    border-radius: 1em;
}
a:hover {
    color: white;
    border-color: white;
    background-color: red;
}
h1, a {
    font-family: sans-serif;
}
body {
    text-align: center;
}
ul {
    list-style-type: none;
    padding: 0;
}
li {
    padding: 1em 0 1em 0;
}
